*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr-primary-200: #faf6d1;
  --clr-primary-500: #824936;
  --clr-primary-700: #4b4737;
  --clr-accent-200: #f1d900;
  --clr-neutral-100: #fff;
  --clr-neutral-900: #222c2a;
  --ff-primary: "Open Sans", sans-serif;
  --ff-accent: "intro-bold", sans-serif;
}

body {
  font-family: var(--ff-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-accent);
}

main {
  padding: 6rem 2rem 3rem 2rem;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: grey;
  font-size: 1rem;
}

:-ms-input-placeholder {
  opacity: 1;
  color: grey;
  font-size: 1rem;
}

::-ms-input-placeholder {
  opacity: 1;
  color: grey;
  font-size: 1rem;
}

::placeholder {
  opacity: 1;
  color: grey;
  font-size: 1rem;
}

body {
  padding-left: calc(100vw - 100%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.75rem;
}

.parent1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.parent2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1000px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-img {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}

.form-field input,
.form-field textarea {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 20px;
  font-size: 1.05rem;
}

.form-field textarea {
  resize: vertical;
  border-bottom-right-radius: 0;
}

.form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.form-submit input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 20px;
  font-size: 1.05rem;
  width: 200px;
}

.form-field input,
.form-field textarea,
.form-submit input {
  font-family: var(--ff-primary);
}

.form-field input:focus,
.form-field textarea:focus,
.form-submit input:focus {
  border: solid 2px var(--clr-accent-200);
}

.form-field label {
  font-size: 1.1rem;
}
/*# sourceMappingURL=company-management.css.map */