@import "./common";

header {
    position: fixed;
    top: 0;

    width: inherit;
    max-width: inherit;

    background-color: var(--clr-primary-300);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.8rem 0;

    font-size: 18px; // ========================================================== !!!!!!!!!!!!!!!!!!!!!!!!! ========================================================
}

    .ulink-logo {
        height: 3.5rem;
        aspect-ratio: 1;

        margin-left: 3rem;
        transition: all 0.1s ease-in-out;
    }
    
        .ulink-logo:hover {
            transform: translate(-0.15rem, -0.15rem);
            box-shadow: 0.15rem 0.15rem 0.15rem rgba($color: #000, $alpha: 0.3);
        }


    .nav-links {
        list-style: none;
        
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 3rem;
    }

        .nav-links a,
        .nav-icons a {
            @include link-reset;
            color: var(--clr-neutral-900);

            padding: 0.5rem 1rem;
            border-radius: 6px;

            transition:
                background-color 0.2s ease-out,
                color 0.05s ease-out,
                scale 0.2s ease-in-out
            ;
        }

        .nav-icons .notif-icon {
            padding: 0.3rem 0.6rem; // overwrites the links padding
            border-radius: 50%; // overwrites the 6px border radius
        }

            .nav-links a:hover {
                background-color: var(--clr-primary-700);
                color: var(--clr-neutral-100);
            }

            .nav-icons .notif-icon:hover {
                background-color: rgba($color: #000, $alpha: 0.1);
                transform: scale(1.2);
            }
    

    .nav-icons {
        display: flex;
        align-items: center;
        gap: 0.5rem 1.5rem;

        margin-right: 3rem;
    }

    .login-btn {
        @include btn-reset;
        
        display: flex;
        gap: 2rem 0.5rem;
        align-items: center;
        flex-wrap: nowrap;

        background-color: var(--clr-accent-200);
        padding: 0.5rem;
        border-radius: 6px;

        font-weight: 700;

        transition: scale 0.2s ease-in-out;
    }

        .login-btn i {
            font-size: 1.2rem;
        }

        .login-btn:hover {
            transform: scale(1.1);
        }