@import "./common";

header {
    position: fixed;
    top: 0;

    width: inherit;
    max-width: inherit;

    background-color: var(--clr-primary-300);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.8rem 0;

    font-size: 18px; // ========================================================== !!!!!!!!!!!!!!!!!!!!!!!!! ========================================================
}

    .ulink-logo {
        height: 3.5rem;
        aspect-ratio: 1;

        margin-left: 3rem;
    }
    
    .nav-links {
        list-style: none;
        
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 5rem;
    }

        .nav-links a {
            @include link-reset;
            color: var(--clr-neutral-900);
        }
    
    .nav-icons {
        display: flex;
        align-items: center;
        gap: 0.5rem 1.5rem;

        margin-right: 3rem;
    }

    .login-btn {
        @include btn-reset;
        
        display: flex;
        gap: 2rem 0.5rem;
        align-items: center;
        flex-wrap: nowrap;

        background-color: var(--clr-accent-200);
        padding: 0.5rem;
        border-radius: 6px;

        font-weight: 700;
    }

        .login-btn i {
            font-size: 1.2rem;
        }