@import "./common";

.header {
    position: fixed;
    top: 0;

    width: inherit;
    max-width: inherit;

    background-color: var(--clr-primary-200);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.8rem 0;

    font-size: 18px; // ======================= !!!!!!!!!!!!!!!!!!!!!!!!! ==============
    color: var(--clr-primary-700);
}

    .ulink-logo {
        height: 3.5rem;
        aspect-ratio: 1;

        margin-left: 3rem;
        transition: all 0.1s ease-in-out;
    }
    
        .ulink-logo:hover {
            transform: translate(-0.15rem, -0.15rem);
            box-shadow: 0.15rem 0.15rem 0.15rem rgba($color: #000, $alpha: 0.3);
        }


    .nav-links {
        list-style: none;
        
        display: flex;
        flex-wrap: wrap;
        // gap: 0.5rem 3rem;
        // gap: MIN(0.5rem, 1vw) MIN(3rem, 6vw);
        gap: 0.5rem calc(6vw - 1/3 * 6rem);
    }

        .nav-links a,
        .nav-icons a {
            @include link-reset;

            padding: 0.5rem 1rem;
            border-radius: 6px;

            transition:
                background-color 0.2s ease-out,
                color 0.05s ease-out,
                scale 0.2s ease-in-out
            ;
        }

        .nav-icons .notif-icon {
            padding: 0.3rem 0.6rem; // overwrites the links padding
            border-radius: 50%; // overwrites the 6px border radius
        }

            .nav-links a:hover {
                background-color: var(--clr-primary-700);
                color: var(--clr-primary-200);
            }

            .nav-icons .notif-icon:hover {
                background-color: rgba($color: #000, $alpha: 0.1);
                transform-origin: center;
                transform: translateY(-5%) scale(1.2);
            }
    

    .nav-icons {
        display: flex;
        align-items: center;
        // gap: 0.5rem 1.5rem;
        // gap: MIN(0.5rem, 1vw) MIN(1.5rem, 1.5vw);
        gap: 0.5rem calc(3vw - 1/3 * 3rem);

        margin-right: 3rem;
    }

    .login-btn {
        @include btn-reset;
        
        display: flex;
        gap: 2rem 0.5rem;
        align-items: center;
        flex-wrap: nowrap;

        background-color: var(--clr-accent-200);
        padding: 0.5rem;
        border-radius: 6px;

        font-weight: 700;

        transition: scale 0.2s ease-in-out;
    }

        .login-btn i {
            font-size: 1.2rem;
        }

        .login-btn:hover {
            transform-origin: center;
            transform: scale(1.1);
        }



// BURGER MENU ==========================================================================

.i-burger {
    @include btn-reset;
    
    width: 2.8rem;
    height: 1.8rem;
    
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 1.1rem 1.7rem 1.1rem 2.1rem; // increase the size of the hitbox of the burger menu
    position: relative;
}

    .i-burger span::before,
    .i-burger span,
    .i-burger span::after {
        position: absolute;
        content: '';

        background-color: var(--clr-primary-700);
        border-radius: 8px;
    }
    .i-burger span {
        height: 0.25rem;
        width: 2.8rem;
        
        transition: background-color ease-in-out 0.125s;
    }
    
        .i-burger span::before,
        .i-burger span::after {
            height: 100%;

            transition: all ease-in-out 0.25s;
        }
        .i-burger span::before {
            width: 115%;
            transform: translateX(-1 * (50% + (100%/15))) translateY(-300%);
        }
        .i-burger span::after {
            width: 85%;
            transform: translateX(calc(-1 * (50% - (100%/15)))) translateY(300%);
        }

        .i-burger.opened span {
            background: none;
        }
            .i-burger.opened span::before {
                width: 90%;
                transform: translateX(-1 * (50% + (100%/15))) rotateZ(45deg);
            }
            .i-burger.opened span::after {
                width: 90%;
                transform: translateX(-1 * (50% + (100%/15))) rotateZ(-45deg);
            }

    #burger-overlay {
        display: none;
        position: fixed;
        
        background-color: rgba(#000, 0.5);

        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1;

        opacity: 0;
        transition: opacity 0.5s;
    }
    #burger-overlay.burger-overlay-active {
        display: initial;
        opacity: 1;
    }



// LOGIN MODAL ===========================================================================

.modal-container {
    position: fixed;
    top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0); // center the model
    z-index: 50; // place on top of most of the items
    
    border: 1px solid black;
    border-radius: 10px;

    width: 500px;
    max-width: 80%;
    background: rgb(250, 250, 250);

    transition: 0.2s;
}
    .modal-container.active {
        transform: translate(-50%, -50%) scale(1);
    }
    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0.5rem 0.75rem;
        background: linear-gradient(to right, rgb(255, 123, 75), rgb(255, 143, 102));
        border-radius: 10px 10px 0 0;
        border-bottom: 0.1rem solid black;
    }
        .modal-header .title {
            font-size: 1.2rem;
            font-weight: bold;

            margin-left: 1rem;
            padding-top: 0.2rem;
        }
        .modal-header .modal-close-btn {
            @include btn-reset;

            padding: 0.1rem 0.4rem; // allows to equalize the size of the hitbox
            position: relative;
        }
            .modal-header .modal-close-btn .cross {
                color: #000; // for a reason or another, the cross was grey
            } 
            .modal-header .modal-close-btn .cross-bg {
                position: absolute;
                content: '';

                display: block;
                
                width: 2rem;
                height: 2rem;
                background-color: rgba(#000, 0.1);

                top: 50%; left: 50%; transform: translate(-50%, -50%);
                border-radius: 50%;

                opacity: 0;
                transition: ease-in-out 0.25s;
            }
                .modal-header .modal-close-btn .cross-bg:hover {
                    opacity: 1;
                }

    .modal-body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0.5rem 0.75rem;
        border-bottom: 0.1rem solid black;
    }

#modal-overlay {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(#000, 0.6);

    z-index: 49; // just one step away from being in front of the modal
    opacity: 0;
    transition: 0.2s ease-in-out;

    pointer-events: none;
}
    #modal-overlay.active {
        opacity: 1;
        pointer-events: all;
    }

    // LOGIN FORM ==================================
    .login-field input {
        @include input-reset;
        border-radius: 6px;
    }
    
    .login-field input:focus {
        border-color: var(--clr-accent-200);        
    }


// MEDIA QUERY ==========================================================================

    @media (max-width: 476px) {
    // BURGER MENU ==========================================================================
    
        .i-burger {
            display: flex;
            z-index: 1;
        }
    
        .parent-burger {
            order: 2;
    
            display: flex;
            flex-direction: column;
            align-items: flex-end;
    
            z-index: 5;

            padding-right: 1rem;
        }

        .i-burger.opened:hover > span::before,
        .i-burger.opened:hover > span::after {
            background-color: rgb(225, 0, 0);
        }
    
        .nav-links {
            opacity: 0;
            
            flex-direction: column;
            align-items: flex-end;
    
            position: fixed;
            top: 0;
            right: 0;
    
            background-color: var(--clr-primary-200);
            border-radius: 8px;
            border: solid 0.15rem rgba(#000, 0.8);
            margin-top: 0.5rem;
            padding: 4rem 1rem 1rem 1rem;
    
            transform: translateX(100%);
            transition:
                transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.5s ease;
        }
    
        .nav-links.unrolled {
            opacity: 1;
            transform: translateX(0);
        }

        .nav-links li a:hover {
            padding-right: 2rem;
            background-color: inherit;
            color: inherit;
        }

        .nav-icons {
            margin-right: 0;
        }

        .ulink-logo {
            margin-left: 1.1rem;
        }
    }

    @media (max-width: 276px) {
        .header {
            flex-wrap: wrap-reverse;
        }

        .nav-links {
            width: calc(100vw - 10px);
        }
    }