
    .img {
        float: left;
        display:block;
        margin:auto;
    }

    body{
        margin: 10;
    }

    form{
        position: absolute;
        float: right;
        right:0;
        margin: 10px;
    }

    .submit {
    position:relative;
    right:0;
    float: right;
    margin: 10px;
    }
