*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary-200: #faf6d1;
  --clr-primary-500: #824936;
  --clr-primary-700: #4b4737;
  --clr-accent-200: #f1d900;
  --clr-neutral-100: #fff;
  --clr-neutral-900: #222c2a;
  --ff-primary: "Open Sans", sans-serif;
  --ff-accent: "intro-bold", sans-serif;
}

body {
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-accent);
}

main {
  padding: 8rem 1.5rem 3rem 1.5rem;
}

::-moz-placeholder {
  opacity: 1;
  color: grey;
  font-size: 1rem;
}

:-ms-input-placeholder {
  opacity: 1;
  color: grey;
  font-size: 1rem;
}

::placeholder {
  opacity: 1;
  color: grey;
  font-size: 1rem;
}

.header {
  position: fixed;
  top: 0;
  width: inherit;
  max-width: inherit;
  background-color: var(--clr-primary-200);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
  font-size: 18px;
  color: var(--clr-primary-700);
}

.ulink-logo {
  height: 3.5rem;
  aspect-ratio: 1;
  margin-left: 3rem;
  transition: all 0.1s ease-in-out;
}

.ulink-logo:hover {
  transform: translate(-0.15rem, -0.15rem);
  box-shadow: 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.3);
}

.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem calc(6vw - 2rem);
}

.nav-links a,
.nav-icons a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background-color 0.2s ease-out, color 0.05s ease-out, scale 0.2s ease-in-out;
}

.nav-icons .notif-icon {
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
}

.nav-links a:hover {
  background-color: var(--clr-primary-700);
  color: var(--clr-primary-200);
}

.nav-icons .notif-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform-origin: center;
  transform: translateY(-5%) scale(1.2);
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem calc(3vw - 1rem);
  margin-right: 3rem;
}

.login-btn {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font: inherit;
  display: flex;
  gap: 2rem 0.5rem;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--clr-accent-200);
  padding: 0.5rem;
  border-radius: 6px;
  font-weight: 700;
  transition: scale 0.2s ease-in-out;
}

.login-btn i {
  font-size: 1.2rem;
}

.login-btn:hover {
  transform-origin: center;
  transform: scale(1.1);
}

.i-burger {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  width: 2.8rem;
  height: 1.8rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.1rem 1.7rem 1.1rem 2.1rem;
  position: relative;
}

.i-burger span::before,
.i-burger span,
.i-burger span::after {
  position: absolute;
  content: "";
  background-color: var(--clr-primary-700);
  border-radius: 8px;
}

.i-burger span {
  height: 0.25rem;
  width: 2.8rem;
  transition: background-color ease-in-out 0.125s;
}

.i-burger span::before,
.i-burger span::after {
  height: 100%;
  transition: all ease-in-out 0.25s;
}

.i-burger span::before {
  width: 115%;
  transform: translateX(-56.6666666667%) translateY(-300%);
}

.i-burger span::after {
  width: 85%;
  transform: translateX(-43.3333333333%) translateY(300%);
}

.i-burger.opened span {
  background: none;
}

.i-burger.opened span::before {
  width: 90%;
  transform: translateX(-56.6666666667%) rotateZ(45deg);
}

.i-burger.opened span::after {
  width: 90%;
  transform: translateX(-56.6666666667%) rotateZ(-45deg);
}

#burger-overlay {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

#burger-overlay.burger-overlay-active {
  display: initial;
  opacity: 1;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 50;
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  max-width: 80%;
  background: #fafafa;
  transition: 0.2s;
}

.modal-container.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  background: linear-gradient(to right, #ff7b4b, #ff8f66);
  border-radius: 10px 10px 0 0;
  border-bottom: 0.1rem solid black;
}

.modal-header .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
  padding-top: 0.2rem;
}

.modal-header .modal-close-btn {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  padding: 0.1rem 0.4rem;
  position: relative;
}

.modal-header .modal-close-btn .cross {
  color: #000;
}

.modal-header .modal-close-btn .cross-bg {
  position: absolute;
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: ease-in-out 0.25s;
}

.modal-header .modal-close-btn .cross-bg:hover {
  opacity: 1;
}

/* .modal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 0.75rem;
    border-bottom: 0.1rem solid black;
} */
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 49;
  opacity: 0;
  transition: 0.2s ease-in-out;
  pointer-events: none;
}

#modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.login-field input {
  outline: none;
  box-shadow: none;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.25rem;
}

.login-field input:focus {
  border: solid 2px var(--clr-accent-200);
}

#login-btn {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-family: var(--ff-primary);
  background-color: var(--clr-accent-200);
  border-radius: 6px;
}

.modal-main {
  display: flex;
  justify-content: center;
}

.modal-main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

/* .modal-main form * {
    transform: scale(1.5);
} */
.login-field,
#login-btn {
  width: 100%;
}

.login-field > * {
  width: 100%;
}

@media (max-width: 476px) {
  .i-burger {
    display: flex;
    z-index: 1;
  }

  .parent-burger {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 5;
    padding-right: 1rem;
  }

  .i-burger.opened:hover > span::before,
.i-burger.opened:hover > span::after {
    background-color: #e10000;
  }

  .nav-links {
    opacity: 0;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--clr-primary-200);
    border-radius: 8px;
    border: solid 0.15rem rgba(0, 0, 0, 0.8);
    margin-top: 0.5rem;
    padding: 4rem 1rem 1rem 1rem;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease;
  }

  .nav-links.unrolled {
    opacity: 1;
    transform: translateX(0);
  }

  .nav-links li a:hover {
    padding-right: 2rem;
    background-color: inherit;
    color: inherit;
  }

  .nav-icons {
    margin-right: 0;
  }

  .ulink-logo {
    margin-left: 1.1rem;
  }
}
@media (max-width: 276px) {
  .header {
    flex-wrap: wrap-reverse;
  }

  .nav-links {
    width: calc(100vw - 10px);
  }
}
footer {
  position: fixed;
  bottom: 0;
  width: inherit;
  max-width: inherit;
  background-color: var(--clr-primary-300);
  text-align: center;
}

footer a {
  color: inherit;
  text-decoration: none;
}

body {
  padding-left: calc(100vw - 100%);
  box-sizing: content-box;
}

::-moz-placeholder {
  opacity: 1;
  color: grey;
  font-size: 1rem;
}

:-ms-input-placeholder {
  opacity: 1;
  color: grey;
  font-size: 1rem;
}

::placeholder {
  opacity: 1;
  color: grey;
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  font-size: 1.1rem;
}

.form-field input,
.form-field textarea {
  outline: none;
  box-shadow: none;
  border: 1px solid black;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 20px;
  font-size: 1.05rem;
}

.form-field textarea {
  resize: vertical;
  border-bottom-right-radius: 0;
}

.form-field textarea::-moz-placeholder {
  font-family: var(--ff-primary);
}

.form-field textarea:-ms-input-placeholder {
  font-family: var(--ff-primary);
}

.form-field textarea,
.form-field textarea::placeholder {
  font-family: var(--ff-primary);
}

.form-field input::-moz-placeholder, .form-field textarea::-moz-placeholder {
  text-align: center;
}

.form-field input:-ms-input-placeholder, .form-field textarea:-ms-input-placeholder {
  text-align: center;
}

.form-field input::placeholder,
.form-field textarea::placeholder {
  text-align: center;
}

.form-field input:focus,
.form-field textarea:focus {
  border: solid 2px var(--clr-accent-200);
}

#submit-btn {
  padding: 1rem 0;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: black;
  border-left-width: 1px;
  border-top-width: 1px;
  border-radius: 20px;
  background-color: var(--clr-accent-200);
}

#submit-btn:hover,
#submit-btn:focus {
  border: solid 2px var(--clr-primary-200);
}/*# sourceMappingURL=internship-proposal.css.map */