@mixin btn {
    padding: 1rem 0;

    border-color: black;
    border-style: solid;
    border-left-width: 1px;
    border-top-width: 1px;

    background-color: var(--clr-accent-200);
}

@mixin btn-focus-hover {
    border: solid 2px var(--clr-primary-200);
}