/* @font-face {
    font-family: "Futura Bold";
    src: url("futura_bold-webfont.woff2") format("woff2"),
         url("futura_bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: "intro-thin";
    src: url("intro-trial-tn-webfont.woff2") format("woff2"),
         url("intro-trial-tn-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "intro-exlight";
    src: url("intro-trial-exlt-webfont.woff2") format("woff2"),
         url("intro-trial-exlt-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "intro-light";
    src: url("intro-trial-lt-webfont.woff2") format("woff2"),
         url("intro-trial-lt-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "intro-regular";
    src: url("intro-trial-rg-webfont.woff2") format("woff2"),
         url("intro-trial-rg-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "intro-medium";
    src: url("intro-trial-md-webfont.woff2") format("woff2"),
         url("intro-trial-md-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "intro-semibold";
    src: url("intro-trial-smbd-webfont.woff2") format("woff2"),
         url("intro-trial-smbd-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: "intro-bold";
    src: url("intro-trial-bd-webfont.woff2") format("woff2"),
         url("intro-trial-bd-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: "intro-black";
    src: url("intro-trial-bk-webfont.woff2") format("woff2"),
         url("intro-trial-bk-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */