@use "../base/" as *;

.details {
    display:block;
    float:right;
    width:45%;
    height: 62%;
    margin-right:20px;
    padding: 10px;
    border-color: black;
    border-style: solid;
}

.carousel {
    display:block;
    float:left;
    width:45%;
    margin-right:20px;
    padding: 1px;
    overflow-y: scroll;
}

.card-title{float:right; position:relative; padding:2px;}
.card-content{float:right;position:relative; padding:2px;}


.bottom{
display: block;
margin: left;
border-radius: 10px;
width: 10;
}


.carousel-items{ 
border: 2px solid rgb(54, 54, 54); 
padding: 2px; 
border-radius: 10px; 
margin: left;
float: left;
display: block;
position:relative;
}

.vertical .carousel-inner {
height: 50%;
}

.carousel.vertical .item {
-webkit-transition: 0.6s ease-in-out top;
-moz-transition: 0.6s ease-in-out top;
-ms-transition: 0.6s ease-in-out top;
-o-transition: 0.6s ease-in-out top;
transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
top: 0;
}

.carousel.vertical .next {
top: 400px;
}

.carousel.vertical .prev {
top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
top: 0;
}

.carousel.vertical .active.left {
top: -400px;
}

.carousel.vertical .active.right {
top: 400px;
}

.carousel.vertical .item {
left: 0;
}

.carousel.vertical .carousel-control {
width: 50%;
bottom: inherit;
top: inherit;
}

.carousel.vertical .carousel-control.left {
top: 0;
}