@use "../base/" as *;

h1 {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.wishlist {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.wish {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: var(--clr-primary-200);
    border: 2px solid var(--clr-accent-200);
}
